.hero-container{
background-color: skyblue;
position: relative;
width: 100% ;
min-height: 600px;
min-width: 100%;
max-width: 100%;
box-sizing: border-box;
display: flex;
justify-items: center;
align-items: center;
justify-content: center;
background-image: url("../../../public/assets/banners/dreamy-atmosphere-pastel-colored-scene-travel-content.jpg");
background-size: cover;
}

.Hero{
  position: absolute;
  min-width: 100%;
  min-height: 500px;
}