.slick-arrow{
  background: gray;
  color: black;
  border-radius: 50%;
}
.slick-arrow:hover{
  background: gray;
  color: black;
  border-radius: 50%;
}
 .slick-next{
     color: black;
 }
 .slick-prev{
     color: black;
 }