@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #080000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --navbar-bg-color: linear-gradient( to top, #f8f8f8,#b0f6f8,#f5fbfc );
}

[data-theme="dark"] {
  --navbar-bg-color: black;
}

.nav {
  background: var(--navbar-bg-color);
}

.bg-primary{
  background-color: #08F3E7;
}
.bg-secondary{
  background-color: #FFFDD0;
}


.primary{
  color: #08F3E7;
}
.secondary{
  color: #FFFDD0;
}

.btn-primary{
  background-color: #08F3E7;
  background: linear-gradient( to bottom left, #f9fafa,#00dbe2,#f3f5f5 );
color: black;
   font-weight: 600;
  size: 17px;
  padding: 7px 12px;
  border-radius: 6px;
  border: 1px solid #01afa1;
}
.btn-primary:hover{
  background-color: white;
  background: white;

   transition: 1s;
  color: black;
  border: 1px solid #01afa1;
}

.btn-secondary{
  background-color: #FFFDD0;
  color: #01534f;
   font-weight: 600;
  size: 17px;
  padding: 7px 12px;
  border-radius: 6px;
  box-shadow: 5px #8df1ec;

}
.btn-secondary:hover{
  background-color: #02fcef;
  color: #000e0d;
  border: 1px solid #FFFDD0;

}
.btn-nav{
  background-color: #FFFDD0;

  color: #01534f;
   font-weight: 600;
  size: 17px;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 3px 3px #014b47;
  border: 1px solid #016e69;
  display: flex ;
  align-items: center;
  gap: 3px;

}
.btn-nav:hover{
  background-color: #016e69;
  color: #f7f8f8;
  border: 1px solid #015348;

}

.card-list:has(li:hover) li:not(:hover) {
  filter: blur(4px)
}

@media screen and (max-width: 500px) {
  .btn-nav{
    background-color: #FFFDD0;
    color: #01534f;
     font-weight: 400;
    size: 12px;
    padding: 2px 4px;
    border-radius: 6px;
    box-shadow: 0px 0px #014b47;
    border: 1px solid #016e69;
    display: flex ;
    align-items: center;
    gap: 2px;
  
  }
  .btn-nav:hover{
    background-color: #016e69;
    color: #f7f8f8;
    border: 1px solid #015348;
  
  }

  .btn-primary{
    background-color: #08F3E7;
    background: linear-gradient( to bottom left, #f9fafa,#00dbe2,#f3f5f5 );
    color: black;
     font-weight: 500;
    size: 14px;
    padding: 3px 7px;
    border-radius: 6px;
    border: 1px solid #01afa1;
  }
  .btn-primary:hover{
    background-color: white;
    background: white;
  
     transition: 1s;
    color: black;
    border: 1px solid #01afa1;
  }
}