@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --navbar-bg-color: #FFFDD0;
}

[data-theme="dark"] {
  --navbar-bg-color: black;
}

.nav {
  background-color: var(--navbar-bg-color);
}

.bg-primary{
  background-color: #98FF98;
}
.bg-secondary{
  background-color: #FFFDD0;
}

.primary{
  color: #98FF98;
}
.secondary{
  color: #FFFDD0;
}


