

.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
    min-height: 300px;
  }
  
}

@media screen and (max-width: 500px) {
  .swiper {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 200px;
  }
  
}